<h4>Internal server error - refreshing the page will make the error disappear</h4>

@if (error) {
    <ng-container>
        <h4 class="text-danger">{{error.message}}</h4>
        <p class="font-weight-bold">Note: Seeing this then angular is probably not to blame</p>
        <p>What to do next</p>
        <ul>
            <li>Open chrome dev tools and check failing request</li>
            <li>Examine the request URL</li>
            <li>Reproduce the problem in Postman</li>
        </ul>
        <p style="font-weight: bold;">Following is the stack trace</p>
        <code class="mt-5" style="background-color: whitesmoke;">
            {{error.details}}
        </code>
    </ng-container>
}
